:root{
  --b1: #183D3D;
  --b2: #5c8374ab;
  --b3: #93B1A6;

  --c2: rgb(243, 245, 221);
}


body{
  width: 99vw;
  height: 95vh;
  box-sizing: border-box;
  padding: 1%;
  background-color: var(--b1);
}
.bar{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 10%;
  box-sizing: border-box;
}
.barTitle{
  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 8vmin;
  color: aliceblue;
}
.barLine{
  border-bottom: 1px solid black;
}
.content{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  
  height: 90%;
  overflow: hidden;
}
.inputSide{
  box-sizing: border-box;
  padding: 1%;
  width: 50%;
  background-color: var(--b2);
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  border-radius: 25px;
}
.inputSideTitle{
  justify-content: center;
  text-align: center;
  font-size: 5vmin;
  color: var(--c2);
}
.otherSide{
  box-sizing: border-box;
  padding: 1%;
  margin-bottom: 1%;
  align-content: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--b2);
  margin-left: 1%;
  border-radius: 25px;
  overflow: scroll;
  font-size: 3vmin;
}
.otherSideTitle{
  text-align: center;
  font-size: 5vmin;
  height: 7%;
  color: var(--c2);
}
textarea{
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 15px;
  padding: 2%;
  min-height: 20%;
  height: 60%;
  background-color: var(--b3);
  font-size: 3vmin;
  border-color: var(--b1);
}

.rankTop{
  height: 35%;
  padding: 2% 0;
  box-sizing: border-box;
  min-height: 50px;
}
ul{
  font-size: 2.5vmin;
}
.rankOther{
  height: 65%;
  padding: 2% 0;
  box-sizing: border-box;
  min-height: 100px;
  overflow: scroll;
}

.otherSideRanking{
  margin: 1% 0;
  height: 80%;
  overflow: scroll;
  box-sizing: border-box;
}
.otherRank{
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
  padding: 2% 0;
  display: flex;
}

li{
  display: flex;
  padding: 5px;
}

.ranking{
  box-sizing: border-box;
  margin-top: 5px;
  margin-right: 4%;
  padding-left: 2%;
  border-radius: 15px;
  background-color: var(--b3);
  border: var(--b1) 1px solid;
}